#wrapper {
  background-color: lightpink;
  margin: auto;
  height: 200px;
  width: 300px;
  text-align: center;
}
#mainbody {
  width: 280px;
  height: 100px;
  word-wrap: break-word;
  text-align: center;
  margin: auto;

}
